
.container{
  margin-top: 1em;
}

.mat-card{
  background: white;
  color: black;
  margin-bottom: 3px;
}
small{
  color: grey;
}
img{
  width: 100%;
}

.name{
  color: darkslategrey;
}

.apps{
  width: 50px;
  border-radius: 10%;
  margin-right: 2px;
}
